extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jorgielyn Iran

        p.lead.text-light
          | Full Stack  Developer

        .portfolio-bio
          p
            | My name is Jorgielyn L. Iran. I live now in Cebu City for how many years but my 
            | home province is Bukidnon. I am a dedicated individual willing to assist in many 
            | ways I can. Trained for years in an IT course that makes me of who am I today.
           
           
            |Willing to work with you!

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li JavaScript
          li jQuery
          li Express
          li Node.js
          li Python
          li Java
          li CSS
          li HTML
          li Laravel
          li Vue js
          li Socket IO
          li MQTT
          li PHP

        h6 Contact Info

        ul
          li irangabriellef14@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jorgielyn-iran-153600195/ ' target="_blank") LinkedIn
        a.button.expanded(href=' https://github.com/jorgielyn' target="_blank") GitHub
        a.button.expanded(href='' target="_blank") My Resume
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back